
body{
    background-color: tan;
    color:saddlebrown;
    
}
indexBody{
    background-color: tan;
    color:saddlebrown;
    
}

img{
    height: 400px;
    width: 400px;
}

h1{
	font-size: 60px;
	color: saddlebrown;
	padding: 15px;
    transition: transform 2000ms ease;
	font-family: Times, "Times New Roman";
	text-align: center;
	
}
nav1{
    background-color: tan;
    color:saddlebrown;
    
}

